h1.text{
    font-size: 550%
}

p{
    font-size: small;
    color:white;
}

div.swatches{
 

   cursor: grab;
    border-radius: 100px 6px ;

}


button{
    padding:10px;
    filter: drop-shadow(5px 5px 10px #36364584);
    background-color: rgba(175, 174, 174, 0.607);
    color:rgb(255, 255, 255);
    border:none;
    border-radius: 6px !important;
    position: fixed;
    top:245px;
    left:50%;
    

    
    

  

}

button:hover{
    background-color: rgba(255, 255, 255, 0.581);
    color:rgb(55, 54, 54);
    border:1px solid rgb(38, 37, 37);
    transition:.5s ease;
}


div#box{
        min-height: 100px;
        width: 250px;
        border: dashed 1px #e3e1e1;
        margin: 10px;
    
}


.drop-targets {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin: 20px 0;
}
.hide{
    display: none !important;
}

.drag-over{
    border: 3px dashed red !important;
}