
HTML{
    display: flex;
    justify-content: center;
}
body{
    justify-content: center;
    width:80%
}

main{
    width:100%;
    display:flex;

    flex-wrap: wrap;
    margin-top: 100px;
}

p{
    font-size: x-small;
   text-align: center;
   align-items: center;
   color:white;
}

div.swatches{
 
    display:flex;
    justify-content: center;
   cursor: grab;
    border-radius: 100px 6px ;

}
h2{
    z-index: 0;
    font-family: 'Lucida Sans', sans-serif;
}

button{
    filter: drop-shadow(5px 5px 10px #36364584);
    display: flex;
    margin: 34px;
    align-items: center;
    font-family: 'Lucida Sans', sans-serif;
    background-color: rgba(48, 48, 48, 0.607);
    color:rgb(255, 255, 255);
    border:none;
    font-size: 19px;
    padding:15px;
    height:50px;
    border-radius: 10px;
    position:fixed;
    

  

}

button:hover{
    background-color: rgba(255, 255, 255, 0.581);
    color:rgb(55, 54, 54);
    border:2px solid rgb(38, 37, 37);
    transition:.5s ease;
}

article{
    display: flex;
  
}

div#box{
      position: relative;
        padding: 30px;
        width: 200px;
        border: dashed 2px #ccc;
        margin: 10px;
    
}

.container {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

.drop-targets {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin: 20px 0;
}
.hide{
    display: none !important;
}

.drag-over{
    border: 3px dashed red !important;
}